<div class="page-header">
  <h1>Add a new patient.</h1>

  <p class="lead">Complete the fields below to add a new patient.</p>
</div>
<script type="text/javascript">
  app.value('$strap.config', {
    datepicker: {
      language: 'fr',
      format: 'M d, yyyy'
    }
  });

</script>

<div ng-controller="PatientAddCtrl">
  <div ng-show="invalidUsernamePassword">
    <span>Invalid username or password</span>
  </div>
  <div class="row">
    <div class="col-span-2">
      <ul class="list-group">
        <a href="#" class="list-group-item active" data-toggle="a" class-toggle="list-group-item active">Basic</a>
        <a href="#" class="list-group-item">Medical</a>
        <a href="#" class="list-group-item">Extra</a>
      </ul>

    </div>
    <div class="col-span-10">
      <form name="patientForm" novalidate class="form-horizontal">
        <div class="row">
          <div class="col-span-6">
            <fieldset>
              <legend>Basic Information</legend>
              <div class="control-group">
                <label class="control-label" for="patient.firstName">First name</label>

                <div class="controls">
                  <input type="text" id="patient.firstName" ng-model="patient.firstName" required/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="patient.lastName">Last name</label>

                <div class="controls">
                  <input type="text" id="patient.lastName" ng-model="patient.lastName" required/>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="patient.gender">Gender</label>

                <div class="controls">
                  <select id="patient.gender" ng-model="patient.gender" required>
                    <option ng-selected="Male" value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>

                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="patient.dateOfBirth">Date of birth</label>

                <div class="controls">
                  <input type="text" id="patient.dateOfBirth" data-date-format="dd/mm/yyyy"
                         ng-model="patient.dateOfBirth"
                         data-date-format="dd/mm/yyyy" bs-datepicker required>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="form-actions">
          <button class="btn" ng-click="reset()">Reset</button>
          <button class="btn btn-primary" ng-click="save(patient)" ng-disabled="patientForm.$invalid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>