<div class="page-header">
  <h1>{{patient.firstName + ' ' + patient.lastName}}</h1>
  <p class="lead">{{patient.dateOfBirth | yearsOld}}, {{patient.gender}}</p>
</div>

<div class="row">
  <div class="col-span-9">
    <h3>Contact Details</h3>
    <dl class="dl-horizontal">
      <dt>Email:</dt>
      <dd>{{patient.email}}</dd>
      <dt>Phone:</dt>
      <dd>{{patient.phone}}</dd>
    </dl>
    <h3>Address Details</h3>
    <dl class="dl-horizontal">
      <dt>Email:</dt>
      <dd>{{patient.email}}</dd>
      <dt>Phone:</dt>
      <dd>{{patient.phone}}</dd>
    </dl>
    <h3>Treatment Details</h3>
    <dl class="dl-horizontal">
      <dt>Email:</dt>
      <dd>{{patient.email}}</dd>
      <dt>Phone:</dt>
      <dd>{{patient.phone}}</dd>
    </dl>
  </div>
  <div class="col-span-3">
    <img src="http://coenraets.org/directory/pics/John_Williams.jpg" />
  </div>
</div>