<div class="page-header">
  <h1>Add a new patient.</h1>

  <p class="lead">Complete the fields below to add a new patient.</p>
</div>
<script type="text/javascript">
  app.value('$strap.config', {
    datepicker: {
      language: 'fr',
      format: 'M d, yyyy'
    }
  });

</script>

<div ng-controller="PatientAddCtrl">
  <div ng-show="invalidUsernamePassword">
    <span>Invalid username or password</span>
  </div>
  <div class="row">
    <div class="col-span-2">
      <ul class="list-group">
        <a href="#" class="list-group-item active" data-toggle="a" class-toggle="list-group-item active">Basic</a>
        <a href="#" class="list-group-item">Contact</a>
        <a href="#" class="list-group-item">Extra</a>
      </ul>

    </div>
    <div class="col-span-10">
      <form novalidate name="patientForm" class="form-horizontal">
        <div class="row">
          <div class="col-span-6">
            <fieldset>
              <legend>Basic Information</legend>


              <div class="control-group">
                <label class="control-label" for="patient.firstName">First name</label>
                <div class="controls">
                  <input type="text" id="patient.firstName" ng-model="patient.firstName" placeholder="Tyrion" required/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="patient.lastName">Last name</label>

                <div class="controls">
                  <input type="text" id="patient.lastName" ng-model="patient.lastName" placeholder="Lannister" required/>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="patient.gender">Gender</label>

                <div class="controls">
                  <div id="patient.gender" class="radio">
                    <label>
                      <input type="radio" name="patient.gender" ng-model="patient.gender" value="Female" checked>
                      Male
                    </label>
                  </div>
                  <div id="patient.gender" class="radio">
                    <label>
                      <input type="radio" name="patient.gender" ng-model="patient.gender" value="Male">
                      Female
                    </label>
                  </div>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="patient.dateOfBirth">Date of birth</label>

                <div class="controls">
                  <input type="text" id="patient.dateOfBirth" data-date-format="dd/mm/yyyy"
                         ng-model="patient.dateOfBirth"
                         data-date-format="dd/mm/yyyy" bs-datepicker required placeholder="22/01/1990">
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend>Contact Information</legend>

              <div class="control-group">
                <label class="control-label" for="patient.phone">Phone</label>
                <div class="controls">
                  <input type="text" id="patient.phone" ng-model="patient.phone" placeholder="0414213852"/>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="patient.email">Email</label>
                <div class="controls">
                  <input type="email" id="patient.email" ng-model="patient.email" placeholder="tyrion.lannister@gmail.com"/>
                  <span class="help-inline" ng-show="patientForm.$error.email"><p class="text-danger">Inline help text</p></span>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend>Address Information</legend>

              <div class="control-group">
                <label class="control-label" for="patient.address1">Address 1</label>
                <div class="controls">
                  <input type="text" id="patient.address1" ng-model="patient.address1" placeholder="The Hand of the King's Solar"/>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="patient.postcode">Postcode</label>
                <div class="controls">
                  <input type="text" id="patient.postcode" ng-model="patient.postcode" placeholder="4217"/>
                </div>
              </div>
            </fieldset>


          </div>
        </div>


        <div class="form-actions">
          <button class="btn" ng-click="reset()">Reset</button>
          <button class="btn btn-primary" ng-click="save(patient)" ng-disabled="patientForm.$invalid">Save</button>
        </div>
      </form>
    </div>
  </div>

  <pre>{{patient | json}}</pre>
</div>