<div class="page-header">
  <h1>Add a new patient.</h1>
  <p class="lead">Complete the fields below to add a new patient.</p>
</div>

<div ng-controller="PatientAddCtrl">
  <form novalidate class="simple-form">
    Name: <input type="text" ng-model="patient.name" /><br />
    Age: <input type="text" ng-model="patient.age" /><br />
    <button ng-click="reset()">RESET</button>
    <button ng-click="save(patient)">SAVE</button>
  </form>
  <pre>form = {{patient | json}}</pre>
  <pre>master = {{master | json}}</pre>
</div>