<div class="page-header">
  <h1>Patients</h1>
  <p class="lead">Manage patients from this screen. Use the quick-search bar to locate a patient.</p>
</div>

<div class="row">
  <input type="text" class="input col-span-4 pull-left" placeholder="Search by name..." ng-model="query">
  <a class="btn btn-primary pull-right" href="patients/add">Add a new patient</a>
</div>

<table class="patients table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Date of birth</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="patient in patients | filter:query">
      <td><a href="/app/patients/{{patient.id}}">{{patient.firstName + ' ' + patient.lastName}}</a></td>
      <td>{{patient.gender}}</td>
      <td>{{patient.dateOfBirth | pretty}}</td>
    </tr>
  </tbody>
</table>
<pre>{{patients | json}}</pre>
