 body {
  padding: 30px;
}

//.navbar {
//  margin-bottom: 30px;
//}

.bs-docs-section-header {
  margin-bottom: 30px;
  color: #b94a48;
  border-bottom: 5px solid #b94a48;
  h1 {
    font-size: 80px;
    font-size: 8rem;
    line-height: 1;
  }
}