<!DOCTYPE html>
<html lang="en" ng-app="someShit">
  <head>
    <title>Some Shit: {{query}}</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <!-- LIB IMPORTS -->
    <script src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lib/bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lib/angular.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lib/angular-resource.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lib/angular-strap.js")" type="text/javascript"></script>
    <!-- ANGULAR IMPORTS -->
    <script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/filters.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/services.js")" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container">
      <div class="navbar" bs-navbar>
        <a class="navbar-brand" href="#">Some Shit</a>
        <ul class="nav">
          <!-- You can use regular expressions -->
          <li data-match-route="/dashboard.*"><a href="#/dashboard">Overview</a></li>
          <li data-match-route="/phones.*"><a href="#/phones">Appointments</a></li>
          <li data-match-route="/patients.*"><a href="#/patients">Patients</a></li>
          <li data-match-route="/invoices.*"><a href="#/invoices">Invoices</a></li>
          <li data-match-route="/analytics.*"><a href="#/analytics">Analytics</a></li>
        </ul>
      </div>
      <div class="container" ng-view>
      </div>
    </div>
  </body>
</html>
