<div class="navbar navbar-fixed-top" bs-navbar>
  <a class="navbar-brand" href="#">Some Shit</a>
  <ul class="nav">
    <!-- You can use regular expressions -->
    <li data-match-route="/dashboard.*"><a href="/app/dashboard">Overview</a></li>
    <li data-match-route="/phones.*"><a href="/phones">Appointments</a></li>
    <li data-match-route="/patients.*"><a href="/app/patients">Patients</a></li>
    <li data-match-route="/invoices.*"><a href="#/invoices">Invoices</a></li>
    <li data-match-route="/analytics.*"><a href="#/analytics">Analytics</a></li>
  </ul>
</div>